.loginForgottenPassword {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  width: 429.88px;
  height: 932px;
}
.poweredBy {
  font-weight: 500;
}
.poweredByHcmutContainer1 {
  line-break: anywhere;
  width: 100%;
}
.poweredByHcmutContainer {
  position: absolute;
  top: 908px;
  left: 114px;
  font-size: 10px;
  letter-spacing: -0.02em;
  line-height: 150%;
  display: flex;
  align-items: center;
  width: 202px;
  height: 32px;
}
.shapeWithText {
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-mediumseagreen-100);
  width: 429.88px;
  height: 563.53px;
}
.urbanWasteCollectionContainer {
  position: absolute;
  top: 529px;
  left: 67px;
  letter-spacing: -0.02em;
  line-height: 150%;
  display: inline-block;
  width: 317px;
  height: 38px;
}
.the {
  font-weight: 500;
  font-family: var(--font-inter);
}
.theSolution1 {
  letter-spacing: -0.02em;
}
.theSolution {
  margin: 0;
}
.forUrbanDisposal {
  margin: 0;
  font-size: var(--font-size-base);
  letter-spacing: -0.01em;
  font-weight: 500;
}
.theSolutionForContainer {
  position: absolute;
  top: 18px;
  left: 216px;
  line-height: 150%;
  text-align: right;
  display: inline-block;
  width: 202px;
  height: 77px;
  font-size: 24px;
}
.u,
.w {
  letter-spacing: -0.02em;
  line-height: 150%;
  display: flex;
  align-items: center;
}
.u {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  width: 87px;
  height: 302px;
}
.w {
  top: 33px;
  left: 78px;
  justify-content: center;
  width: 239px;
  height: 289px;
}
.c,
.uParent,
.w {
  position: absolute;
}
.c {
  top: 74px;
  left: 43px;
  letter-spacing: -0.02em;
  line-height: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  height: 289px;
}
.uParent {
  top: 131px;
  left: 57px;
  width: 317px;
  height: 363px;
  text-align: center;
  font-size: var(--font-size-181xl);
  font-family: var(--font-merriweather);
}
.shapeWithTextParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 429.88px;
  height: 567px;
  text-align: left;
  color: var(--color-white);
}
.forgottenPassword {
  cursor: pointer;
  position: absolute;
  top: 868px;
  left: 0;
  font-size: var(--font-size-xs);
  text-decoration: underline;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 500;
  color: var(--color-gray);
  display: inline-block;
  width: 430px;
  height: 24px;
}
.inputfilledWithIcon,
.login {
  border: 0;
  background-color: transparent;
  position: absolute;
}
.login {
  cursor: pointer;
  padding: 0;
  top: 728px;
  left: 93px;
}
.inputfilledWithIcon {
  top: 603px;
  left: 55px;
}
.username {
  position: absolute;
  top: 590px;
  left: 57px;
  letter-spacing: 0.15px;
  line-height: 12px;
  font-family: var(--font-roboto);
  color: #1976d2;
  text-align: left;
}
.homeChild,
.main {
  position: absolute;
  top: 0;
}
.main {
  left: 0;
  width: 430px;
  height: 940px;
}
.homeChild {
  left: -1px;
  border-radius: 0 var(--br-9981xl) var(--br-9981xl) 0;
  background-color: var(--vert-bleu);
  width: 1px;
  height: 932px;
}
.home {
  position: relative;
  border-radius: var(--br-5xl);
  background-color: var(--color-azure);
  width: 100%;
  height: 932px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: #0fc577;
  font-family: var(--font-inter);
}
